body {
  background: #141414;
  color: #ffffff;
}

.hero-name{
  color: red;
}

.movie-app > .header{
	display: flex;
  align-items: center;
  justify-content: space-evenly;
	position: fixed;
	top: 0;
  width: 100%;
  z-index: 100;
	margin-bottom: 90px;
}

.movie-app > .movie-list{
  /* overflow-x: auto; */
	display: flex;
  flex-wrap: wrap;
	/* flex-direction: row; */
	/* flex-wrap: nowrap; */
}


